@import '../../../styles/variables.scss';

a {
  text-decoration: none;
}

.zaion-card {
  border-bottom: 1px solid #707070;

  & svg {
    color: #6c757d;
  }

  &:hover {
    background: $zaionColor;
    color: white;

    & svg {
      color: white;
    }
  }
}
