<div class="container">
  <section class="row vh-100 d-flex align-items-center">
    <div class="col-12 col-md-6">
      <a [routerLink]="'create'">
        <div class="card zaion-card py-3">
          <div class="text-center m-auto">
            <ng-icon name="octPersonAdd" size="200"></ng-icon>
          </div>
          <div class="card-body text-center">
            <h1>Create Online Chat</h1>
          </div>

        </div>
      </a>
    </div>

    <div class="col-12 col-md-6">
      <a [routerLink]="'join'">
      <div class="card zaion-card py-3">
        <div class="text-center m-auto">
          <ng-icon name="octPeople" size="200"></ng-icon>
        </div>
        <div class="card-body text-center">
          <h1>Join Online Chat</h1>
        </div>
      </div>
      </a>
    </div>
  </section>
</div>

