<header class="bg-light">
  <div class="container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="https://zaion.ai/zaion-content/themes/zaion/assets/image/logo.svg" alt="zaion">
      <span class="logo-subtitle">Chat</span>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
            aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
      <ul ngbNav class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container  *ngFor="let link of links">
          <li class="nav-item" [ngbNavItem]="link.id" *ngIf="link.isHeader">
            <a ngbNavLink class="nav-link" [routerLink]="link.path" >{{ link.title }}</a>
          </li>
        </ng-container>
      </ul>
      <form class="d-flex justify-content-end" [formGroup]="joinForm">
        <div class="input-group">
          <input type="text"
                 formControlName="uuid"
                 class="form-control"
                 placeholder="Type Chat Room Identifier"
          />
          <input type="submit"
                 class="btn btn-outline-primary"
                 value="Join"
                 [disabled]="!joinForm.valid" />
        </div>
      </form>
    </div>
  </nav>

  </div>
</header>
